body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  /* background: #131415; */
  background: hsl(0, 0%, 95%);
}

img {
  display: block;
  width: 100%;
  border-radius: inherit;
}

.img-wrap {
  position: relative;
  width: 300px;
  border-radius: 40px;
}

.blur-shadow {
  position: absolute;
  top: 8px;
  right: 8px;
  left: 8px;
  bottom: 8px;
  transform: translateY(30px);
  opacity: 1;
  background-size: cover;
  border-radius: inherit;
  filter: blur(60px);
  z-index: -1;
}
