* {
  box-sizing: border-box;
}

body {
  font-family: "@Microsoft YaHei Light";
  margin: 40px;
}

.carousel-container {
  /* border: 2px dashed blue; */
  border-radius: 20px;
  overflow: hidden;
  max-width: 1000px;
  position: relative;
  box-shadow: 0 0 120px -20px lightblue;
  margin: auto;
  z-index: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  display: block;
  width: 100%;
}
.mySlides::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background-image: linear-gradient(-45deg, rgba(255, 0, 0, 0.1), rgba(0, 0, 255, 0.2));
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0 8px 8px 0;
  backdrop-filter: blur(1px);
  user-select: none;
}
.next {
  right: 0;
  border-radius: 8px 0 0 8px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(173, 216, 230, 0.2);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: rgba(0, 0, 5, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

/* Number text (1/3 etc) */
.number {
  color: #f2f2f2;
  font-size: 16px;
  background-color: rgba(173, 216, 230, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

/* The dots/bullets/indicators */
.dots {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background-color: rgba(173, 216, 230, 0.1);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dots:hover {
  background-color: rgba(173, 216, 230, 0.5);
}

/* Fading animation */
.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 1s;
}

@keyframes animate {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
